{% extends "layout.html" %}

{% block content %}
<body class="b-normas">
    

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Python Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/normas">Normas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Ayuda</a>
                    </li>
                </ul>

            </div>
        </nav>

        <body class="normas">
                <h1 class="h1-centro">Normas</h1>
                <h5>1.- Una vez que empiece el juego no salgas de el, ya que si lo haces perderás todo tu progreso y tendrás que empezar desde el unico</h5>
                <h5>2.- Una vez terminado el juego te pido que seas paciente y esperes los resultados que te los dará el proveedor</h5>
                <h5>3.- Si te equivicaste en elegir a una persona, tranquilo/a podrás hacerlo de nuevo una vez finalice el juego</h5>
                <h5>4.- Diviertete</h5> 
                
                <p class="p-centro">-----------------------------</p>
        </body>
</body>
{% endblock %}